/* @import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
@import url(responsive.css);
@import url('https://fonts.cdnfonts.com/css/lilita-one'); */


* {
    margin: 0;
    padding: 0;
    font-family: anton;
    scroll-behavior: smooth;
}


:root {
    --one: #FF9800;
    --two: #FFE6C5;
    --three: #FF7900;
    --four: #FFFFFF;
}

/* 
@font-face {
    font-family: LilitaOne-Regular;
    src: url(LilitaOne-Regular.ttf);
} */

body {
    margin: 0;
    padding: 0;
    font-family: LilitaOne-Regular;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

    /* background-color: var(--two); */
}


/* custom cursor */
.custom-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 5px solid gray;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.4s cubic-bezier(0.18, 1, 0.28, 1);
    mix-blend-mode: multiply;
    z-index: 1001;
}


header {
    position: relative;
    /* max-width: 90%; */
    margin: 0px auto;
    padding: 20px;
    background: var(--two);
    border-radius: 4px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, .2); */
    /* line-height: 10px; */
}

.logo {
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    padding: 0 20px;
    color: #069370;
    font-weight: 700;
    text-decoration: none;
}

.logo img {
    width: 170px;
    margin-top: 10px;
    margin-left: 20px;
}

nav {
    float: right;
}

.clear {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 25px;
}

nav ul li a {
    display: block;
    margin: 20px 0;
    padding: 10px 25px;
    text-decoration: none;
    color: var(--one);
    transition: 0.2s;
}

nav ul li a.active,
nav ul li a:hover {
    /* text-shadow: 2px 2px 0px black; */
    color: var(--three);
}

@media (max-width: 1200px) {
    header {
        margin: 0px;
    }
}

@media (max-width: 1024px) {
    nav ul li {
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
    nav ul li {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
    nav ul li {
        font-size: 23px;
    }
}

@media (max-width: 768px) {
    header {
        position: relative;
        /* max-width: 90%; */
        margin: 0px auto;
        padding: 10px;
        background: var(--two);
        border-radius: 4px;
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, .2); */
        /* line-height: 10px; */
    }

    .logo img {
        width: 100px;
        margin-top: 10px;
    }

    .mean-toggle {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: var(--three);
        transition: 0.2s;
    }

    .mean-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .mean-toggle.active:before {
        content: '\f00d';
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }

    nav.active ul li {
        margin: 0;
        text-align: center;
    }
}

/* .section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--one);
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.section1 .info {
    width: 40%;
    /* max-height: 700px;
    overflow: hidden; 
    margin-right: 50px;
}

.section1 .pic {
    width: 40%;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--one);
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 50px;
    box-sizing: border-box;
    /* Add this line to include padding in the width */
    overflow: hidden;
    /* Add this line to hide overflow content */
}

.section1 .info {
    width: 40%;
    margin-right: 50px;
    box-sizing: border-box;
    /* Add this line to include padding in the width */
}

.section1 .pic {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    /* Add this line to include padding in the width */
}

.section1 .info h1 {
    font-size: 120px;
    color: var(--two);
    letter-spacing: 2px;
    line-height: 130px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 100;
    text-shadow: 5px 5px 0px var(--three);
}

.section1 .info p {
    font-size: 50px;
    color: var(--two);
    letter-spacing: 2px;
    line-height: 120px;
    text-transform: uppercase;
}

.section1 .pic .outer {
    background-color: var(--three);
    margin: 20px;
    transform: rotate(-15deg);
    width: 550px;
    height: 550px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.288);
}


.section1 .pic .outer2 {
    background-color: var(--three);
    margin: 20px;
    transform: rotate(15deg);
    width: 450px;
    height: 450px;
    margin-top: 200px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.288);
}

.section1 .pic img {
    width: 550px;
    height: 550px;
    /* margin-left: 100px; */
    transform: rotate(15deg);
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.322);
    object-fit: cover;
}

.section1 #pic2 {
    width: 450px;
    /* margin-left: 100px; */
    transform: rotate(15deg);
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.322);
}


.section1 .pic .outer:hover {
    transform: rotate(-10deg) scale(1.06);
}

.section1 .pic .outer2:hover {
    transform: rotate(10deg) scale(1.06);

}

.section1 .pic .outer:hover img {
    transform: rotate(10deg);
}

.section1 .pic .outer2:hover #pic2 {
    transform: rotate(10deg) scale(1);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section1 {
        flex-direction: column;
    }

    .section1 .info {
        width: 80%;
        margin-right: 0px;
    }

    /* 
    .section1 .pic {
        width: 80%;
    } */


    .section1 .info h1 {
        /* font-size: 75px;
        line-height: 90px; */
        text-align: center;
    }


    .section1 .info p {
        /* font-size: 35px;
        line-height: 70px; */
        text-align: center;
    }

    /*
    .section1 .pic .outer{
        width: 290px;
        height: 290px;
    }

    .section1 .pic img{
        width: 290px;
        height: 290px;
    }
    */
    .section1 .pic {
        padding: 40px;
        margin-top: 25px;
        margin-bottom: 5px;
    }
}

@media (max-width: 700px) {
    .section1 {
        flex-direction: column;
    }

    .section1 .info {
        width: 80%;
        margin-right: 0px;
    }

    .section1 .pic {
        width: 80%;
    }

    .section1 .info h1 {
        font-size: 75px;
        line-height: 90px;
        text-align: center;
    }

    .section1 .info p {
        font-size: 35px;
        line-height: 70px;
        text-align: center;
    }

    .section1 .pic .outer {
        width: 290px;
        height: 290px;
    }

    .section1 .pic img {
        width: 290px;
        height: 290px;
    }

    .section1 .pic {
        padding: 40px;
        margin-top: 25px;
        margin-bottom: 5px;
    }
}

@media (max-width: 280px) {
    .section1 .info h1 {
        font-size: 55px;
        line-height: 65px;
        text-align: center;
    }

    .section1 .info p {
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }
}

/* ... (rest of your CSS remains unchanged) */

.section2 marquee {
    display: flex;
    font-size: 25px;
    color: var(--three);
    background-color: var(--four);
    padding: 30px 0px;
}

.section3 {
    background-color: var(--three);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3 .textinfo {
    /* background-color: var(--four); */
    width: 80%;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    color: var(--two);
}

.section3 .menuinfo {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}


.section3 .menuinfo h3 {
    font-size: 50px;
    color: var(--two);
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 30px;

}

.section3 .menuinfo h3:hover {
    background-color: var(--one);
}


.section3 .menuinfo :nth-child(1) {
    transform: translateY(170px) rotate(-45deg);
}

.section3 .menuinfo :nth-child(3) {
    transform: translateY(170px) rotate(45deg);
}


.section3 .textinfo :nth-child(2) {
    display: none;
}

.section3 .textinfo :nth-child(3) {
    display: none;
}

.section4 {
    background-color: var(--three);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* margin-top: 10px; */
    overflow: hidden;
    box-shadow: inset 0px -20px 20px rgba(0, 0, 0, 0.281);
}

.section4 img {
    width: 1000px;
    animation-name: pizzarotate;
    animation-duration: 150s;
    animation-iteration-count: infinite;
}

@keyframes pizzarotate {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.section6 {
    background-color: var(--two);
    width: 100%;
    height: auto;
    margin-inline: auto;
    /* padding: 0rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    flex-direction: row;
}

.section6 .info {
    width: 50%;
    /* padding: 5rem; */
    padding-left: 5rem;
    padding-right: 5rem;

}

.section6 .info .sec {
    width: 100%;
}

.section6 .info .sec #buttontoaction {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--one);
    box-shadow: -5px 5px 0px var(--six);
    color: var(--two);
    margin-top: 3rem;
    font-family: Inter;
    font-family: 600;
    transition: 0.3s;
    cursor: pointer;
}


.section6 .info .sec #buttontoaction:hover {
    box-shadow: 0px 0px 0px var(--six);
}


.section6 .info .sec h1 {
    font-size: 60px;
    margin-top: 20px;
    color: var(--one);
    text-align: left;
}

.section6 .info .sec p {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
    color: #000;

}

.section6 .photo {
    width: 50%;
    height: 100%;
    /* border: solid 20px var(--three);
    outline: solid 10px var(--four); */
    /* border-radius: 70px; */
    overflow: hidden;
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.3s;
    background-color: var(--three);
    padding: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .section6 .photo:hover {
    transform: scale(1.05);
    border: solid 20px var(--three);
    outline: solid 20px var(--four);
} */

.section6 .photo img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section6 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .section2 marquee {
        font-size: 60px;
    }

    .section6 .photo {
        width: 80%;
    }

    .section6 .info {
        width: 80%;
        height: auto;
        padding: 2rem 0rem;
        margin-top: 20px;
        padding-left: 3rem;
        padding-right: 3rem;

    }

    .section6 .info .sec h1 {
        font-size: 72px;
        margin-top: 20px;
    }

    .section6 .info .sec p {
        font-size: 38px;
    }

    .section6 .info .sec #buttontoaction {
        font-size: 38px;
    }
}

@media (max-width: 700px) {
    .section6 {
        align-items: center;
        flex-wrap: wrap;
    }

    .section6 .photo {
        width: 100%;
    }

    .section6 .photo img {
        width: 100%;
    }

    .section6 .info {
        width: 80%;
        height: auto;
        padding: 2rem 0rem;
        margin-top: 20px;
        padding-left: 3rem;
        padding-right: 3rem;

    }

    .section6 .info .sec h1 {
        font-size: 52px;
        text-align: center;
        margin-top: 20px;
    }

    .section6 .info .sec p {
        font-size: 18px;
        text-align: center;
    }

    .section6 .info .sec #buttontoaction {
        margin-left: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width: 844px) {
    .section6 .photo img {
        width: 100%;
    }
}


.section5 {
    background-color: var(--four);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.section5 .sec5-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;
    color: var(--one);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.section5 .sec5-1 h3 {
    font-size: 35px;
}

.section5 .sec5-2 {
    background-color: var(--four);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section5 img {
    width: 10rem;
}

.icon .sec5-2 img {
    width: 80%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* .section5{
      height: auto;
      overflow: hidden;
    } */
    .section5 .sec5-1 h3 {
        margin-top: 10px;
        font-size: 60px;
    }

    /* .section5 .sec5-2{
        flex-direction: column;
        padding: 10px;
    }*/

    .section5 .sec5-2 img {
        width: 13rem;
    }
}


@media (max-width: 700px) {
    .section5 {
        height: auto;
        overflow: hidden;
    }

    .section5 .sec5-1 {
        padding-bottom: 0px;
    }

    .section5 .sec5-2 {
        flex-direction: column;
        padding: 10px;
    }

    .section5 .icons img {
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .icon .sec5-2 img {
        width: 100%;
    }
}


.section7 {
    background-color: var(--one);
    width: 100%;
    height: auto;
    margin-inline: auto;
    /* padding: 0rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    flex-direction: row;
}

.section7 .info {
    width: 50%;
    /* padding: 5rem; */
    padding-left: 5rem;
    padding-right: 5rem;
}

.section7 .info .sec b {
    font-family: inter;
    color: var(--two);
}

.section7 .info .sec p {
    font-family: inter;
    color: var(--two);
    margin-bottom: 20px;
}

.section7 .info .sec {
    width: 100%;
}

.section7 .info .sec #buttontoaction {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--two);
    box-shadow: -5px 5px 0px var(--six);
    color: var(--one);
    margin-top: 3rem;
    font-family: Inter;
    font-family: 600;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 900;
}


.section7 .info .sec #buttontoaction:hover {
    box-shadow: 0px 0px 0px var(--six);
}


.section7 .info .sec h1 {
    font-size: 110px;
    margin-top: 20px;
    color: var(--two);
    letter-spacing: 0px;
    font-weight: 100;
    line-height: 130px;
    text-align: left;
}

.section7 .info .sec li {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter';
    color: var(--two);
    margin-top: 1rem;

}

.section7 .photo {
    width: 60%;
    height: 100%;
    /* border: solid 20px var(--three);
    outline: solid 10px var(--four); */
    /* border-radius: 70px; */
    overflow: hidden;
    /* box-shadow: 0px 0px 20px gray; */
    transition: 0.3s;
    /* background-color: green; */
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

/* .section6 .photo:hover {
    transform: scale(1.05);
    border: solid 20px var(--three);
    outline: solid 20px var(--four);
} */

.section7 .photo img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: 0.5s;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section7 {
        flex-direction: column;
        overflow: hidden;
    }

    .section7 .info {
        width: 80%;
        padding: 40px;
    }

    .section7 .info .sec li {
        font-size: 35px;
    }

    .section7 .info .sec #buttontoaction {
        font-size: 35px;
    }

    .section7 .photo {
        width: 100%;
    }

    /* 
    .section7 .info .sec h1 {
        font-size: 18vw;
        line-height: 75px;
        text-align: center;
    }

    .sec7-ul{
        padding: 0px 30px;
    }

    .sec7-btn{
       margin-left: 25px;
    }

    
   
    .section7 .photo img {
        height: 460px;
    } */
}

@media (max-width: 700px) {
    .section7 {
        flex-direction: column;
        overflow: hidden;
    }

    .section7 .info {
        width: 100%;
        padding: 20px;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 20px;
    }

    .section7 .info .sec h1 {
        font-size: 18vw;
        line-height: 75px;
        text-align: center;
    }

    .sec7-ul {
        padding: 0px 30px;
    }

    .sec7-btn {
        margin-left: 25px;
    }

    .section7 .photo {
        width: 100%;
    }

    .section7 .photo img {
        height: 460px;
    }
}



.section8 {
    width: 100%;
    background-color: var(--two);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    text-align: center;
}

.section8 h1 {
    font-size: 110px;
    color: var(--one);
    font-weight: 100;
}

.section8 p {
    font-size: 35px;
    color: var(--one);
}

@media (max-width: 700px) {
    .section8 h1 {
        font-size: 21vw;
    }
}

.section9 {
    overflow: hidden;
    /* Ensure the slider does not overflow its container */
    background-color: var(--two);
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.storeslider {
    width: 80%;
    /* Ensure the slider takes the full width */
    overflow: hidden;
    /* Hide overflowing images */
    position: relative;
    /* Position the slider container */
    padding: 10px;
    /* background-color: red; */
}

.slider-container {
    display: flex;
    /* Display images in a row */
    transition: transform 0.5s ease;
    /* Smooth transition for sliding */
}

.slider-container img {
    width: 50%;
    /* Ensure images take full width */
    object-fit: cover;
    /* Ensure images cover the container */
    margin: 0 1rem;
    border-radius: 30px;
    box-shadow: -5px 5px 0px var(--one);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section8 p {
        font-size: 50px;
        color: var(--one);
    }

    .storeslider {
        width: 88%;
    }

    .slider-container img {
        width: 65%;
    }

    .section5 .sec5-1 h3 {
        font-size: 70px;
    }
}

@media (max-width: 700px) {
    .storeslider {
        width: 92%;
    }

    .slider-container img {
        width: 65%;
    }
}



@media (max-width: 700px) {
    .section5 img {
        width: 200px;
    }
}

.section10 {
    background-color: var(--three);
    width: 100%;
    height: auto;
    margin-inline: auto;
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    flex-direction: row;
}

.section10 .info {
    width: 80%;
    /* padding: 5rem; */
    text-align: center;
}

.section10 .info .sec {
    width: 100%;
}

.section10 .info .sec #buttontoaction {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--two);
    color: var(--three);
    margin-top: 3rem;
    font-family: Inter;
    font-family: 600;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 900;
}


.section10 .info .sec #buttontoaction:hover {
    box-shadow: 0px 0px 0px var(--six);
}


.section10 .info .sec h1 {
    font-size: 110px;
    margin-top: 20px;
    color: var(--two);
    letter-spacing: 0px;
    font-weight: 100;
    line-height: 130px;
    text-transform: uppercase;
}

.section10 .info .sec p {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter';
    color: var(--two);
    margin-top: 1rem;

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* .section10{
        overflow: hidden;
        padding: 2rem 0rem;
    }

    .section10 .info{
        width: 100%;
        padding: 1rem;
    }

    .section10 .info .sec h1 {
        line-height: 85px;
        font-size: 16vw;
        margin-bottom: 20px;
    } */

    .section10 .info .sec p {
        font-size: 38px;
    }

    .section10 .info .sec #buttontoaction {
        font-size: 38px;
    }
}

@media (max-width: 700px) {
    .section10 {
        overflow: hidden;
        padding: 2rem 0rem;
    }

    .section10 .info {
        width: 100%;
        padding: 1rem;
    }

    .section10 .info .sec h1 {
        line-height: 85px;
        font-size: 16vw;
        margin-bottom: 20px;
    }
}



.footer {
    background-color: var(--three);
    color: var(--four);
    padding: 5rem 0;
    font-weight: 100;
    font-family: Inter;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: Inter;
}

.footer-section {
    flex: 1 1 30%;
    margin: 0px 10px;
    padding: 0px 10px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-section .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.footer h4 {
    color: var(--four);
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 100;

}

.footer p {
    color: #ccc;
    margin-top: 5px;
    font-family: Inter;
}

.footer-links li {
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
    font-family: Inter;
    font-weight: 100;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    font-weight: 100;
    font-family: Inter;
}

.footer-links a:hover {
    color: var(--three);
    text-decoration: none;
    font-weight: 100;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    /* background-color: green; */
}

.social-icons li {
    display: inline-block;
    font-weight: 100;
    font-family: Inter;

}

.social-icons a {
    color: var(--four);
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    margin-right: 10px;
    font-family: Inter;
}

.social-icons a:hover {
    color: var(--three);
}

.newsletter-form input[type="email"] {
    padding: 10px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    font-family: Inter;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: var(--four);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 100;
}

.newsletter-form button:hover {
    padding: 10px 20px;
    background-color: var(--three);
    border: none;
    color: #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 100;
}

.copyright {
    text-align: center;
    width: 100%;
    background-color: var(--three);
    color: #ccc;
    font-size: 14px;
    padding: 1rem 0;
    font-family: inter;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer h4 {
        font-size: 60px;
    }

    .footer p {
        font-size: 32px;
    }

    .footer-links li {
        font-size: 32px;
    }

    .social-icons a {
        font-size: 40px;
    }

    .copyright {
        font-size: 22px;
    }

    .newsletter-form button {
        padding: 10px 40px;
        font-size: 25px;
    }

    .newsletter-form input[type="email"] {
        padding: 23px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .footer-section {
        flex: 1 1 100%;
        margin: 20px 0;
        text-align: center;
    }

    .copyright {
        font-size: 12px;
    }

    .newsletter-form input[type="email"] {
        padding: 12px;
    }
}


.section11 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/12.jpg); */
    background-color: var(--one);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5rem 5rem;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    color: var(--three);
}

.section11 h1 {
    font-size: 112px;
    color: var(--two);
    font-weight: 100;
    text-shadow: -5px 5px 0px var(--three);
}


.top-bar {
    background-color: var(--one);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-bar .filter-btn {
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 5px;
    background-color: var(--three);
    border: none;
    color: var(--two);
    border-radius: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--one);
    font-family: inter;
}

.content p {
    font-family: inter;
}

.content ul {
    font-family: inter;
    margin-top: 10px;
}

.content li {
    font-family: inter;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content li strong {
    font-family: inter;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content img {
    width: 500px;
    border-radius: 20px;
}

.item {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    text-align: left;
    background-color: var(--two);
    padding: 2rem 2rem;
    border-radius: 30px;
    box-shadow: -5px 5px 0px var(--three);
}

#buttontoaction {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--one);
    box-shadow: -5px 5px 0px var(--six);
    color: var(--two);
    margin-top: 2rem;
    font-family: Inter;
    font-family: 600;
    transition: 0.3s;
    cursor: pointer;
    text-align: right;
}


#buttontoaction:hover {
    box-shadow: 0px 0px 0px var(--six);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .content img {
        width: 800px;
    }

    .top-bar .filter-btn {
        padding: 20px 40px;
        font-size: 35px;
    }

    #buttontoaction {
        font-size: 35px;
    }

    .content ul {
        padding: 20px;
    }

    .content li {
        font-size: 35px;
        text-align: justify;
    }

    .content p {
        font-size: 35px;
        margin-top: 20px;
        text-align: justify;
    }
}


@media (max-width: 700px) {
    .section11 h1 {
        font-size: 50px;
    }

    .content img {
        width: 300px;
    }

    #buttontoaction {
        padding: 15px 35px;
    }

    .content li {
        text-align: justify;
    }

    .content p {
        margin-top: 10px;
        text-align: justify;
    }

    .top-bar .filter-btn {
        padding: 8px 16px;
        font-size: 16px;
    }
}



.phero {
    margin-inline: auto;
    background-color: var(--one);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#portfoliohero {
    width: 90%;
}

.custom-gallery {
    display: flex;
    flex-wrap: wrap;
    /* background-color: var(--one); */
    width: 80%;
    margin-inline: auto;
}

.custom-gallery-item {
    flex: 1 0 30%;
    /* Adjust as needed */
    margin: 5px;
    cursor: pointer;
}

.custom-gallery-item img:hover {
    box-shadow: -5px 5px 0px var(--one);
}

.custom-gallery-item img {
    width: 100%;
    height: 100%;
    height: auto;
    border-radius: 30px;
    transition: 0.2s;
}

@media (max-width: 700px) {
    #portfoliohero {
        width: 94%;
    }

    .custom-gallery {
        margin-bottom: 10px;
    }
}

.custom-fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    text-align: center;
}

.custom-fullscreen-image {
    max-width: 90%;
    /* max-height: 90%; */
    margin: auto;
    display: block;
    object-fit: contain;
}

.custom-close-btn {
    color: var(--four);
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


@media only screen and (max-width: 768px) {
    .custom-fullscreen-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

    .custom-fullscreen-image {
        max-width: 90%;
        border-radius: 30px;
    }

    /* outlets */

}

.location {
    margin-bottom: 22px;
}

.location h1 {
    font-size: 1.7em;
}

@media only screen and (max-width: 768px) {
    .custom-close-btn {
        font-size: 80px;
    }

    .location p {
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .custom-gallery-item {
        flex: 1 0 100%;
        /* Display gallery items in a single column */
    }
}

/* For screens between 600px and 900px (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .custom-gallery-item {
        flex: 1 0 50%;
        /* Display gallery items in two columns */
    }
}

/* For screens larger than 900px (e.g., desktops) */
@media only screen and (min-width: 901px) {
    .custom-gallery-item {
        flex: 1 0 30%;
        /* Display gallery items in three columns */
    }
}